.footer {
  bottom: 0;
  position: fixed;
}

ul {
  list-style-type: circle;
}

.recommended {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  height: 240px;
  margin: 0 auto;
  margin-bottom: 15px;
  max-width: 330px;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  padding: 1rem;
  scroll-snap-type: x mandatory;
}

.start-btn {
  bottom: 0;
  position: fixed;
  width: 100%;
}

@import url("https://fonts.googleapis.com/css?family=Gelasio&display=swap");

* { box-sizing: border-box; }

body,
html { overflow-x: hidden; }

